<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EletroStar</title>
    <link rel="stylesheet" href="~/css/estilo.css">
    <link href="~/css/form.css" rel="stylesheet" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
</head>
<body>

    <div class="inicio"><h1 id="titulo">EletroStars</h1></div>
    <input type="checkbox" id="chec">
    <label for="chec" id="icMenu">
        <img id="icon" src="~/imagem/menu2.png">
    </label>

    @if (ViewBag.Logado)
    {
        <div id="logado">
            <a id="icones" asp-controller="Login" asp-action="LogOff">Log Out</a>
            <a id="icones" asp-controller="Carrinho" asp-action="IndexProduto">
                <img src="~/imagem/carrinho.png" style="max-width:45px;">
            </a>
            <a id="icones" asp-controller="Carrinho" asp-action="IndexProjeto">
                <img src="~/imagem/projeto.png" style="max-width:45px;">
            </a>
        </div>
    }
    else
    {
        <label id="login">
            <a asp-controller="Login" asp-action="Index">
                <img src="~/imagem/login1.png" id="login">
            </a>
        </label>
    }

    <div id="texto">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <nav id="menu">
        <ul>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
            <li>
                <a>Produtos</a>
                <ul>
                    @if (ViewBag.Admin)
                    {
                        <li><a asp-area="" asp-controller="Produto" asp-action="Create">Novo</a></li>
                        <li><a asp-area="" asp-controller="Produto" asp-action="Index">Consulta</a></li>
                    }

                    <li><a asp-area="" asp-controller="Carrinho" asp-action="Index">Catalógo</a></li>

                </ul>
            </li>

            <li>
                <a>Projeto</a>
                <ul>
                    @if (ViewBag.Admin)
                    {
                        <li><a asp-area="" asp-controller="Projeto" asp-action="Create">Novo</a></li>
                        <li><a asp-area="" asp-controller="Projeto" asp-action="Index">Consulta</a></li>
                    }
                    <li><a asp-area="" asp-controller="Projeto" asp-action="IndexProjeto">Catalógo</a></li>

                </ul>
            </li>

            <li>
                <a>Cliente</a>
                <ul>
                    @if (ViewBag.Admin)
                    {
                        <li><a asp-area="" asp-controller="Cliente" asp-action="Index">Consulta</a></li>
                    }
                    @if (ViewBag.logado)
                    {
                        <li><a href="../Cliente/Edit?id=@ViewBag.IdCliente">Dados Pessoais</a></li>
                        <li><a href="../Endereco/EditCliente?idCliente=@ViewBag.IdCliente">Endereço</a></li>
                    }
                        <li><a asp-area="" asp-controller="Cliente" asp-action="Create">Cadastrar</a></li>
                    
                </ul>
            </li>
            <li><a asp-area="" asp-controller="Sobre" asp-action="Index">Sobre</a></li>
        </ul>
    </nav>


    <footer>
        <div id="logotipo">
            <img id="lgt" src="~/imagem/chave.png" alt=" logotipo" />
            Todos os direitos autorais reservados.
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
