@model List<ProdutoViewModel>

<h5 style="color:red;">@ViewBag.error</h5>

<h1>Produtos</h1>
<fieldset>
    <legend>Filtro</legend>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4">
            <label class="control-label">Categoria</label>
            <select id="comboBox" asp-items="ViewBag.categorias" class="form-control"> </select>
           
            <input id ="botaoFiltro"type="button" class="btn btn-success" value="Filtrar" onclick="atualizaGridProdutoCategoria()"/>
        </div>
    </div>
</fieldset>

<div id="conteudoGrid">
    @{Html.RenderPartial("pvIndex", Model);}
</div>