@model List<ProdutoViewModel>

@{
    ViewData["Title"] = "Home Page";

}

<div>
    <h1>Sejam bem-vindo!</h1>
    <br>
    <p id="boasVindas">
        Nossa empresa tem uma personalidade jovem e irreverente! <br>
        Nossa preocupação é o bem-estar de todo mundo, incluindo vocês - nossos novos clientes.<br>
        Podem ter certeza que as vossas preocupações serão também nossas.<br>
        Nosso princípio é a cooperação, por isso esperamos quaisquer sugestões e propostas de melhoria.<br>
    </p>
</div>
<br />
